In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import os

**Step 1: Load AB-test data**

In [25]:
cd = os.getcwd()
file = os.path.join(cd[: -7], 'Data', 'cookie_cats.csv')
df = pd.read_csv(file)
display(df)
df.dtypes

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3        False        False
1          337  gate_30              38         True        False
2          377  gate_40             165         True        False
3          483  gate_40               1        False        False
4          488  gate_40             179         True         True
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97         True        False
90185  9999479  gate_40              30        False        False
90186  9999710  gate_30              28         True        False
90187  9999768  gate_40              51         True        False
90188  9999861  gate_40              16        False        False

[90189 rows x 5 columns]

userid             int64
version           object
sum_gamerounds     int64
retention_1         bool
retention_7         bool
dtype: object

**Step 2: Preprocessing and EDA**

1. Check for missing values

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

2. Count number of players in each group.

In [27]:
df.groupby('version').count()

         userid  sum_gamerounds  retention_1  retention_7
version
gate_30   44700           44700        44700        44700
gate_40   45489           45489        45489        45489